<%- include ("./partials/header") %>


<h1>Login in</h1>

<form action="/login" method="POST">
    <input placeholder="username" type="text" name="username">
    <input placeholder="password" type="password" name="password">
    <input type="submit" value="Login!">
</form>

<%- include ("./partials/footer") %>